html,
body {
  margin: 0;
  padding: 0;
  width: 100%;

  display: grid;
  place-content: center;
}

body,
select,
input {
  font-family: Ubuntu, sans-serif;
  font-size: 1.1rem;
}

.main {
  margin: 1em;
  display: grid;
  gap: 0.5em;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5em;
}
.header .title {
  display: grid;
  place-content: center;
  grid-column: 1 / 3;
}
.header select {
  text-align: right;
}

table {
  width: 8in;
  height: 9.5in;
  border-collapse: collapse;
  margin: auto;

  border: 4px solid #888;
}

tbody:last-child {
  border-top: 5px double #888;
}

table td {
  border: 2px solid #888;
  padding: 0.5em;
  white-space: pre-wrap;
}

table td:last-child {
  width: 160px;
}

table a {
  color: black;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

table td:last-child {
  padding: 0.1em;
  text-align: right;
}

@media print {
  .main {
    margin-bottom: 0;
  }
  .header input::placeholder {
    opacity: 0;
  }
  select,
  input {
    border: none;
  }
}

twisty-player {
  min-width: 1.25in;
  max-width: 2in;
  width: auto;
  height: 1.2in;
}

twisty-player.dim {
  opacity: 0.1;
}
