* {
  box-sizing: border-box;
}

@font-face {
  font-family: digital-7-mono;
  src: url("./vendor/timer.cubing.net/digital-7-mono.ttf") format("truetype");
}

@font-face {
  font-family: digital-7;
  src: url("./vendor/timer.cubing.net/digital-7.ttf") format("truetype");
}

body {
  font-size: 1.25rem;
  font-family: sans-serif;
}

button {
  font-size: 1.25rem;
}

#controls {
  line-height: 1.5em;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas: "player controls";
  grid-template-columns: 50% 50%;
  gap: 1em;
  margin: 0;
  padding: 1em;
  margin-right: 1em;
  box-sizing: border-box;
}

#controls {
  grid-area: controls;
}

#player {
  grid-area: player;
}

twisty-player {
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) and (min-height: 640px), (orientation: portrait) {
  body {
    grid-template-areas: "player" "controls";
    grid-template-columns: 1fr;
    grid-template-rows: 30% 80%;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.results-qr {
  text-align: center;
  padding: 0 50px;
}

.time-display-wrapper {
  background: black;
}

.time-display {
  font-family: "digital-7-mono", monospace;
  font-size: 6em;
  width: 100%;
  color: rgb(255, 0, 0);
  padding: 0.5em 0 0.4em;
  text-align: center;
}

twisty-alg-viewer {
  padding: 0.5em;
}

twisty-alg-viewer.correct {
  background: green;
  color: white;
}
