/.temp
/coverage
/dist
/node_modules

# Created by `npm pack` by default.
/*.tgz

# Legacy cache dirs (may appear when building old checkouts)
# Parcel 1
/.cache
# Parcel 2
/.parcel-cache
# rollup-plugin-typescript2
/.rpt2_cache

# Legacy package folders.
# We can hopefully get rid of this once enough bundlers support the `exports` field in `package.json`.
/alg
/bluetooth
/kpuzzle
/notation
/protocol
/puzzle-geometry
/puzzles
/scramble
/search
/stream
/twisty
