/.temp
/coverage
/dist
/node_modules

# Replaced with `bun.lockb`
/package-lock.json

# Created by `npm pack` by default.
/*.tgz

# Legacy cache dirs (may appear when building old checkouts)
# Parcel 1
/.cache
# Parcel 2
/.parcel-cache
# rollup-plugin-typescript2
/.rpt2_cache

# Legacy type re-export.
# TODO: rid of this once TypeScripts is able to use the `"exports"` field in `package.json` out of the box.
/alg/index.d.ts
/bluetooth/index.d.ts
/kpuzzle/index.d.ts
/notation/index.d.ts
/protocol/index.d.ts
/puzzle-geometry/index.d.ts
/puzzles/index.d.ts
/scramble/index.d.ts
/search/index.d.ts
/stream/index.d.ts
/twisty/index.d.ts
