
html, body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body div:first-child {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

twisty-player {
  width: 100%;
  height: 100%;
}

#algs.saved {
  background: rgba(0, 255, 0, 0.25);
}

#algs.error {
  background: rgba(255, 0, 0, 0.25);
}
