control-pane {
  grid-area: "control";
  padding: 1em;
  font-family: "Ubuntu", Verdana, Tahoma, sans-serif;
  background: rgb(255, 245, 235);
  overflow: hidden;
  transition: opacity .5s;
}

control-pane.loading {
  opacity: 0.3;
}

control-pane .title {
  font-size: 2em;
  font-weight: bold;
}

control-pane textarea {
  width: 100%;
  font-family: "Ubuntu", Verdana, Tahoma, sans-serif;
  font-size: 1.5rem;
  margin-top: 0.5em;
  padding: 0.25em;
  background: rgb(255, 253, 251);
  border: 1px solid rgba(0, 0, 0, 0.25);
  max-width: 100%;
  resize: vertical; /* TODO: Resize based on contents. */
  min-height: 5em;
}

control-pane textarea.status-warning {
  background: rgba(255, 255, 0, 0.2);
  border: 1px solid rgba(200, 180, 0, 0.5);
}

control-pane textarea.status-bad {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.5)
}

control-pane select.puzzle {
  font-size: 1.5em;
  background: rgba(255, 250, 245, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 0.5em;
  padding: 8px;
}
