/* From: https://github.com/lgarron/minimal-html-style (v1.0.0) */
html {
  font-family: -apple-system, Roboto, Ubuntu, Tahoma, sans-serif;
  font-size: 1.25rem;
  padding: 2em;
  display: grid;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 40em;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000d;
    color: #eee;
  }

  a {
    color: #669df5;
  }

  a:visited {
    color: #af73d5;
  }
}

.output {
  white-space: pre-wrap;
}

.output.error {
  background: rgba(255, 0, 0, 0.2);
}
