html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 2em;
  box-sizing: border-box;

  overflow: hidden;
}

button {
  font-size: 2em;
}

twisty-player {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

select {
  font-size: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media (max-height: 600px) and (min-width: 600px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  twisty-player {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 7;
  }
}
