body {
  box-sizing: border-box;
}

twisty-3d-canvas {
  width: 900px;
  height: 600px;
  /* width: 3000px;
  height: 2000px !important; */
  /* width: 1800px;
  height: 1200px !important; */
  display: block;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@supports (aspect-ratio: 3 / 2) {
  twisty-3d-canvas {
    max-width: 100%;
    height: unset;
    aspect-ratio: 3 / 2;
  }
}
