@import "../../../fonts/ubuntu.css";

:root {
  color-scheme: light dark;
}

body {
  font-family: Ubuntu, Verdana, sans-serif;
}

textarea {
  width: 400px;
  height: 300px;
}

.valid {
  background: rgba(0, 255, 0, 0.25);
}

.invalid {
  background: rgba(255, 0, 0, 0.25);
}
