@font-face {
  font-family: "Ubuntu";
  src: url("../vendor/fonts/ubuntu/Ubuntu-Regular.ttf");
}

body {
  display: flex;
  font-family: Ubuntu, Tahoma, sans-serif;
}

#puzzle {
  background: black;
  margin-top: 20px;
}

#puzzles {
  margin-top: 56px;
}

#mode {
  margin-top: 15px;
}

.panel {
  width: 50%;
  padding: 20px;
}

h1 {
  margin: 0;
}
