@font-face {
  font-family: "Ubuntu";
  src: url("../vendor/fonts/ubuntu/Ubuntu-Regular.ttf");
}

control-pane {
  grid-area: "control";
  /* padding: 1em; */
  font-family: "Ubuntu", Verdana, Tahoma, sans-serif;
  background: rgb(255, 245, 235);
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.5s;
}

control-pane section {
  padding: 1em;
}

control-pane.loading {
  opacity: 0.3;
}

control-pane .title {
  font-size: 2em;
  font-weight: bold;
}

control-pane h2 {
  margin: 0;
  padding: 5px 10px;
  /* background: rgba(50, 0, 0, 0.2); */
  background: rgba(255, 230, 210, 1);
  border-top: 1px solid #888;
}

control-pane alg-editor {
  width: 100%;
  --border-color: rgba(0, 0, 0, 0);
  --font-family: "Ubuntu", Verdana, Tahoma, sans-serif;
  --font-size: 1.5em;
  --padding: 0.75em;
}

control-pane alg-editor:focus-within {
  --background: rgb(255, 253, 251);
}

control-pane textarea.experimental-setup-alg {
  min-height: 2em;
}

control-pane textarea.status-warning {
  background: rgba(255, 255, 0, 0.2);
  border: 1px solid rgba(200, 180, 0, 0.5);
}

control-pane textarea.status-bad {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.5);
}

control-pane select {
  font-size: 1.5em;
  background: rgba(255, 250, 245, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5em;
  padding: 8px;
}
