name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.3.0, latest]

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"
      - name: Use `node` v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: make setup-without-playwright
      - run: make lint-ci
      - run: make lint-tsc-main
      - run: make lint-tsc-lib
      - run: make lint-tsc-lib-no-dom
      - run: make lint-tsc-bin
      - run: make lint-import-restrictions
      - run: make check-schemas
      - run: make format # note: not in `test-src` in `package.json`, only in CI
      - run: make clean
      - run: make reset # Should work the first time.
      - run: make reset # Should work the second time (after deps are removed).

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.3.0, latest]

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"
      - name: Use `node` v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: make setup-without-playwright
      - run: make build-lib-js
      - run: make build-bin
      - run: make build-lib-types
      - run: make build-sites
      - run: make build-site-docs
      - run: make clean

  test-src:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.3.0, latest]

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"
      - name: Use `node` v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: make setup
      - run: make test-ts-bun-with-coverage
      - run: make test-ts-dom-with-coverage

  test-dist:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.3.0, latest]

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"
      - name: Use `node` v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: make setup
      - run: make build-lib-js
      - run: make test-dist-lib-node-import
      - run: make test-dist-lib-node-scramble
      - run: make test-dist-lib-bun-scramble-all-events
      - run: make test-dist-lib-perf
      - run: make test-dist-lib-plain-esbuild-compat
      - run: make test-dist-lib-build-size
      - run: make build-bin
      - run: make test-dist-bin
      - run: make build-sites
      - run: make test-dist-sites-twizzle
      - run: make check-package.json
      - run: make clean

  check-fast:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.3.0, latest]

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: "true"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"
      - name: Use `node` v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: make setup-without-playwright
      - run: time make check-fast
